#footer {
    background-color:peachpuff;
    width: 100vw;
    height: 15vh;
    position:absolute;
    bottom:0px;
}
.footer-items {
    display:flex;
    flex-wrap:wrap;
}

.item {
    width:100px;
    height:100px;
    background-color:grey;
    margin:10px;
}