#footer {
    background-color:rgb(9,136,179);
    width: 100vw;
    height: 15vh;
    position:absolute;
    bottom:0px;
}
.footer-items {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.item {
    margin:10px;
}

img {
    width:100px;
    height:100px;
}