#footer {
    background-color: magenta;
    width: 100vw;
    height: 15vh;
    position:absolute;
    bottom:0px;
}
.footer-items {
    background-color:black;
    width: 100px;
    height: 100px;
    display:flex;
    
}