body {
    margin: 0;
}
#header {
    width: 100vw;
    height: 10vh; 
    top: 0;
    position: fixed;
    display: flex; 
    flex-direction: row;
    background-color: rgb(9, 136, 179);
}
#logo{
    flex: 1;
    justify-content: center;
    align-items: center;
}

#logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 200%;    
    top: -10px;
    left: 50px;
    position: fixed; 
    cursor: pointer;
    color: white;
}
#menubar{
    display: flex; 
    flex: 3;
    justify-content: center;
    align-items: center;
}

.menu {
    flex: 1;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    cursor: pointer;
    color: white;
}

.menu:hover {
    border-bottom: 2px solid white;
    transition: step-start 3s;
}

#icons{
    flex: .5;
    justify-content: center;
    align-items: center;
    display: flex;
}

.material-icons {
    color: white;
    flex: 1;
    font-size: 200%;
    cursor: pointer;
}


