body {
    margin: 0;
}
#header {
    width: 100vw;
    height: 10vh; 
    position: fixed;
    background-color: rgb(9, 136, 179);
}
#menubar{
    text-decoration: none;
    
}
.menu {
    text-decoration: none;
}


