body {
    margin: 0;
}
#header {
    width: 100vw;
    height: 10vh; 
    position: fixed;
    display: flex; 
    flex-direction: row;
    background-color: rgb(9, 136, 179);
}
#menubar{
    text-decoration: none;
    display: flex; 

}
.menu {
    flex: 1;
}


